<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Add User</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:include="header::head"></div>

<h1>Create a User:</h1>

<form th:action="@{/addUser}" method="POST">
  User name:
  <input type="text" name="username" placeholder="username"/>
  <br/>
  Password:
  <input type="text" name="password" placeholder="password" />
  <br/>
  <input type="submit" value="Create" />
  <input type="hidden"
         name="${_csrf.parameterName}"
         value="${_csrf.token}"/>

</form>


<div th:include="footer::foot"></div>
<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
  ...
</div>

</body>
</html>