<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<div th:fragment="head">

  <form th:action="@{/login}" method="post" sec:authorize="isAnonymous()">
    <input type="" name="xUserName" placeholder="username"/>
    <input type="" name="xUserPassword" placeholder="password"/>
    remember me
    <input type="checkbox" name="remember-me" />
    <input type="submit" value="Login"/>
    <input type="hidden"
           name="${_csrf.parameterName}"
           value="${_csrf.token}"/>
  </form>

  <br/>
  <a href="forgotPassword">forgot password?</a>

  <form th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
    <input type="submit" value="Logout"/>
    <input type="hidden"
           name="${_csrf.parameterName}"
           value="${_csrf.token}"/>
  </form>

  <br/>
  <a href="registration">Registration</a>

</div>

</body>

</html>