<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <title>Registration</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>

<div th:include="header::head"></div>

<h1>Create a User:</h1>

<form th:action="@{/registration}" method="POST">
  User name:
  <input type="text" name="username" placeholder="username"/>
  <br/>
  Email:
  <input type="email" name="email" placeholder="email"/>
  <br/>
  Password:
  <input type="text" name="password" placeholder="password"/>
  <br/>

  <input type="submit" value="Create"/>
  <input type="hidden"
         name="${_csrf.parameterName}"
         value="${_csrf.token}"/>
</form>

<!-- Check if errorMessage is not null and not empty -->
<br/>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
</div>

<div th:include="footer::foot"></div>

</body>

</html>